body {
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0%;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#hello {
    margin-bottom: 40px;
}

#name h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin:0px;
    border: 0px;
    font-size: 800%;
}

#name h1+h1{
    color: #ffffff99;
}

#name h1+h1:hover {
    color: rgb(200, 194, 194);
    transition: 1.2s;
}

#name:hover {
    cursor: pointer;
}

#role {
    margin-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color: #ffffffb3;
}

#quotation {
    margin-top: 30px;
    font-size: 135%;
    color: #ffffffb3;
}

#contacts {
    display: flex;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 200px;
    color: grey;
}

a {
    filter: brightness(60%);
}

a:hover {
    filter: brightness(80%);
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff99;
}

#about p{
    display: flex;
    justify-content: center;
}

#about h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 300%;
}